// VARIABLES
//grid
	$grid-columns:				12; //12
	$grid-gutter:				30px;

// screens
	$screen-x-min:				 480px;
	$screen-s-min:				 768px;
	$screen-m-min:				 992px;
	$screen-l-min:				1200px;
	$screen-x-max:              ($screen-s-min - 1);
	$screen-s-max:              ($screen-m-min - 1);
	$screen-m-max:              ($screen-l-min - 1);
	$grid-float-breakpoint:     $screen-s-min !default;


// containers
	$container-s:				 (720px + $grid-gutter);
	$container-m:				 (940px + $grid-gutter);
	$container-l:				(1140px + $grid-gutter);